*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.carousel-indicators {
    background-color: rgba(255, 255, 255, 0.473);
    border-radius: 10px;
    box-sizing: border-box;
    justify-content: space-around;
}

.carousel-indicators [data-bs-target] {
  width: 50px;
  height: 50px;
  background-color:transparent;
  transition: all 0.5s ease;
  margin: 0;
  padding: 0;
}

.carousel-btn {
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.carousel-btn button img {
  width: 100%;
  object-fit: contain;
}

.carousel-indicators button.active {
    border: 2px solid #0d6efd;
    border-radius: 10px;
    transform: translateY(2px);
}

/* Main Gallery Image */
.carousel-item img {
  width: auto;
  height: 100%;

}

@media screen and (max-width:1050px) {
.carousel-item img {
width: 100%;
object-fit: contain;
}
}

@media screen and (max-width:500px) {
.carousel-item img {
width: 100%;
object-fit: contain;
}
}