.form-check-inline {
  margin-right: 0;
}

.btn {
  background-color: #8e1616;
  border: inherit;
  color: #ced4da;
}

.btn:hover {
  background-color: #8e1616;
  color: #eeeeee;
}


.size-6 {
  color: #8e1616;
}

.card {
    transition: box-shadow 0.3s ease-in-out;
    width: 15rem
}

.card:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.modal-dialog {
    z-index: 1000;
}

