body {
    font-family: Arial, sans-serif;
    background-color: #EEEE;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

/* Layout della sezione prodotto */
.product-section {
    display: flex;
    align-items: center;
    gap: 20px;
    background: #eeeeee;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-info {
    margin-left: 80px; /* Sposta la sezione del prodotto più a destra */
}

/*background dettagli prodotto*/
.product-info2 {
    display: flex;
    align-items: center;
    gap: 20px;
    background: #8E1616; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Miniature */
.thumbnail-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.thumbnail {
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s;
}

.thumbnail:hover {
    transform: scale(1.1);
}

/* Immagine principale */
.main-image img {
    width: 400px;
    height: auto;
    border-radius: 10px;
}

/* Info prodotto */
.product-info {
    flex: 1;
}

.price {
    font-size: 24px;
    color: #d32f2f;
}

.btn, .details-btn {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background: #000000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
/*cambio colore button*/
.btn:hover, .details-btn:hover {
    border: 2px solid #D84040; /* Cambia solo il bordo */
    background: black; /* Mantiene lo sfondo nero */
    color: white; /* Mantiene il colore del testo bianco */
}

/* Stili per il pannello laterale */
.side-panel {
    position: fixed;
    top: 0;
    left: -300px;  /* Inizialmente nascosto a sinistra */
    width: 300px;
    height: 100%;
    background-color: #8E1616;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    transition: left 0.3s ease; /* Animazione di apertura */
}

/* Imposta il colore del testo dei paragrafi a bianco */
.side-panel p {
    color: white;
}

/* Imposta il colore del testo dei paragrafi a bianco */
.side-panel h2 {
    color: white;
}
/*cambio colore dell prezzo principale */
.price {
    color: blue;
}

.side-panel.open {
    left: 0;  /* Mostra il pannello quando è aperto */
}

.close-btn {
    font-size: 30px;
    cursor: pointer;
    border: none;
    background: none;
}
/* nackground prodotti correlati */
.carousel-inner {
    display: flex;
    align-items: center;
    gap: 20px;
    background: #D84040; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/*background di tutto il container*/
.container {
    gap: 20px;
    background: #EEEEEE;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}




